
@{
    ViewData["Title"] = "Error404";
}

<div class="wrapper">
    <div class="box">
        <h1 class="h1-forbidden ">404</h1>
        <br />
        <p class="p-forbidden ">Desculpe, pagina não encontrada!</p>
        <p class=" p-forbidden"><a href="/">Por favor, clique aqui para voltar!</a></p>
    </div>
</div>
