@model ClinicaVeterinariaWeb.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<h2>ChangePassword</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="OldPassword">Password Atual</label>
                <input asp-for="OldPassword" type="password" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword">Nova password</label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Confirm">Confirmar</label>
                <input asp-for="Confirm" type="password" class="form-control" />
                <span asp-validation-for="Confirm" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Alterar password" class="btn btn-primary" />
                <a asp-action="ChangeUser" class="btn btn-success"><i class="fa fa-chevron-left"></i>Voltar</a>
                
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" ></script>
           <script src="~/js/scripts.js"></script>
           <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
           <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
   }
    

