
@{
    ViewData["Title"] = "EmployeeNotFound";
}

<div class="wrapper">
    <div class="box">
        
        <br />
        <p class="p-forbidden ">Desculpe, funcionário não encontrado</p>
        <p class=" p-forbidden"><a href="/">Por favor, clique aqui para voltar!</a></p>
    </div>
</div>