@model ClinicaVeterinariaWeb.Models.ContatosViewModel
@{
    ViewData["Title"] = "Comunicacao";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<flash dismissable="true" />
 <h2>Comunicação com Cliente</h2>


<body>
    <div>
        <aside id="sidebar">
            <div class="dark">
                
                <form class="contacto" asp-action="Comunicacao" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input asp-for="Subject" class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Assunto'" placeholder="Assunto">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea asp-for="Mensagem" class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Escreva a  Mensagem'" placeholder="Mensagem "></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label" style="font-size:x-large; color:white">Email Customers</label>
                                <select asp-for="Email" asp-items="Model.Clientes" class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Selecione o email'" placeholder=" Email"></select>

                            </div>
                        </div>
                    </div>
                    <br />
                    <div>
                        <button type="submit" class="send-btn">Enviar Email</button>
                    </div>
                </form>
            </div>
        </aside>
    </div>
    <br />
    <br />
    <br />
    <br/>
    <div>
        <h2>Mensagens</h2>
        <h4>Exemplos de mensagem para enviar aos clientes </h4>
        <br/>
        <br />
        <p>
           -> Estimado Cliente a consulta da(o) _______________foi agendada com sucesso para o dia ________ ás _____.Clínica Animals Friends.
        </p>
        
        <p>
            -> Lembramos que a(o) ______________ tem uma consulta agendada na nossa clínica no dia _______ ás _____.Clínica Animals Friends.
        </p>
       
        <p>
           -> Estimado Cliente, foi com enorme satisfação que o recebemos no dia ________. Esperamos contar sempre com a vossa confiança, até breve! Clínica Animals Friend.
        </p>
        
        <p>
            -> Estimado Cliente,  a consulta agendada para o dia  _____ ,foi cancelada. Clínica Animals Friends.
        </p>

        <p>
            -> Estimado Cliente a vossa opinião é importante para nós, ajude-nos a melhorar e receba  uma oferta . Clique aqui! www.animalsfriends.pt/pesquisadesatisfacao
        </p>

        <p>
            -> Estimado Cliente neste mês de ______ temos uma grande oferta para cuidar do vosso Pet, marque a consulta até o dia _______ e ganhe _____% de desconto.Clínica Animals Friends.
        </p>

        <p>
            -> Semana da Black Friday agende uma consulta para o vosso Pet e ganhe 30% de desconto.Clínica Animals Friends.
        </p>

        <p>
            -> Campanha de vacinação Antirrábica, traga o vosso cão ou gato  do dia _______ ao dia ______. Ligue 253253253 e agende o horário. Clínica Animals Friends.
        </p>


    </div>

       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="~/js/scripts.js"></script>
      <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
      <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>
