
@{
    ViewData["Title"] = "Comunicacao";
}

<h2>Comunicação com Cliente</h2>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description"
          content="clinica veterinária" />
    <meta name="Keywords"
          content="clinica veteriária" />
    <title>Clínica veterinária Animals Friends |Servicos</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <div>
        <aside id="sidebar">
            <div class="dark">
                
                <form class="contacto" method="post" action="/Home/Comunicacao">
                    <div>
                        <label>Nome</label><br />
                        <input type="text"  name="Nome" placeholder="Nome" />
                    </div>

                    <div>
                        <label>Email</label><br />
                        <input type="email" name="Email" placeholder="Endereço de email" />
                    </div>

                    <div>
                        <label>Mensagem</label><br />
                        <textarea name="Mensagem" class="form-control-file " placeholder="Mensagem"></textarea>
                    </div>
                    <br/>
                    <button class="button_1" type="submit">Enviar Email</button>
                </form>
            </div>
        </aside>
    </div>
    <br />
    <br />
    <br />
    <br/>
    <div>
        <h2>Mensagens</h2>
        <h4>Exemplos de mensagem para enviar aos clientes </h4>
        <br/>
        <br />
        <p>
           -> Estimado Cliente a consulta da(o) _______________foi agendada com sucesso para o dia ________ ás _____.Clínica Animals Friends.
        </p>
        
        <p>
            -> Lembramos que a(o) ______________ tem uma consulta agendada na nossa clínica no dia _______ ás _____.Clínica Animals Friends.
        </p>
       
        <p>
           -> Estimado Cliente, foi com enorme satisfação que o recebemos no dia ________. Esperamos contar sempre com a vossa confiança, até breve! Clínica Animals Friend.
        </p>
        
        <p>
            -> Estimado Cliente,  a consulta agendada para o dia  _____ ,foi cancelada. Clínica Animals Friends.
        </p>

        <p>
            -> Estimado Cliente a vossa opinião é importante para nós, ajude-nos a melhorar e receba  uma oferta . Clique aqui! www.animalsfriends.pt/pesquisadesatisfacao
        </p>

        <p>
            -> Estimado Cliente neste mês de ______ temos uma grande oferta para cuidar do vosso Pet, marque a consulta até o dia _______ e ganhe _____% de desconto.Clínica Animals Friends.
        </p>

        <p>
            -> Semana da Black Friday agende uma consulta para o vosso Pet e ganhe 30% de desconto.Clínica Animals Friends.
        </p>

        <p>
            -> Campanha de vacinação Antirrábica, traga o vosso cão ou gato  do dia _______ ao dia ______. Ligue 253253253 e agende o horário. Clínica Animals Friends.
        </p>


    </div>
</body>

</html>