
@{
    ViewData["Title"] = "Serviços";
}

<h1>Serviços</h1>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description"
          content="clinica veterinária" />
    <meta name="Keywords"
          content="clinica veteriária" />
    <title>Clínica veterinária Animals Friends |Servicos</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    Contultas<br />
    Vacinação<br />
    Cirurgias <br />
    Desparasitação<br />
    Domicilios<br />
    Banho e Tosquia <br />
    Internamentos<br />
    Urgências 24H
    <br />
    <br />
   
    <div>

        <aside id="sidebar">
            <div class="dark">
                <h2>Contacte-nos</h2>
                <form class="contacto" method="post" action="/Home/Contactos">
                    <div>
                        <label>Nome</label><br />
                        <input type="text" name="Nome" placeholder="Nome" />
                    </div>

                    <div>
                        <label>Email</label><br />
                        <input type="email" name="Email" placeholder="Endereço de email" />
                    </div>

                    <div>
                        <label>Mensagem</label><br />
                        <textarea name="Mensagem" placeholder="Mensagem"></textarea>
                    </div>

                    <button class="button_1" type="submit">Enviar</button>
                </form>
            </div>
            <div class="form-group">
                <a asp-action="Index" asp-controller="Marcacao" class="btn btn-success">Marcação</a>
            </div>
        </aside>
    </div>
    <br />
    <br />
    <div>
        <h3>Morada</h3>
        Estrada nacional N101 nº 3500 <br />
        Ponte - Guimarães
        <br />
        <br />
        <h3>Telefone</h3>
        253698714   <br />
        987456321   <br />
        Urgência 24H : 963258741 
        <br />
        <br />
        <h3>Links Úteis</h3>
        Instagram: animalsfriends  <br />
        Facebook: animalsfriends
    </div>
</body>


</html>
