@{
    ViewData["Title"] = "Clínica Veterinária Animals Friends";
}
<h1>@ViewData["Title"]</h1>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description"
          content="clinica veterinária" />
    <meta name="Keywords"
          content="clinica veteriária" />
    <title>Clínica veterinária Animals Friends |Sobre</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    
    <br />
    <br />
    <section id="showcase">
        <div class="container">
            <h2>Nossa história</h2>
            <p>
                A nossa história é marcada por uma paixão profunda pelos animais e o 
                compromisso de fornecer cuidados de saúde excepcionais a eles. Desde a nossa fundação, 
                buscamos estabelecer um padrão elevado de atendimento veterinário, baseado em conhecimento
                especializado, compaixão e dedicação.<br/>
                <br />
                À medida que crescemos, investimos continuamente em aprimorar nossas habilidades e conhecimentos 
                veterinários. Nossa equipe participa regularmente de programas de educação contínua, conferências
                e workshops para se manter atualizada com os avanços mais recentes no campo da medicina veterinária.
                Acreditamos que o aprendizado contínuo é fundamental para oferecer os melhores tratamentos e serviços
                aos nossos pacientes.<br />
                <br />
                Ao longo dos anos, testemunhamos histórias emocionantes de recuperação, momentos de alegria e vínculos
                inquebráveis entre os animais e seus donos. Essas experiências nos motivam diariamente a continuar
                aprimorando nossos serviços e a buscar excelência em tudo o que fazemos. <br />
                <br />
                Agradecemos a cada cliente que confiou em nós ao longo dos anos e nos permitiu fazer parte da vida de 
                seus amados animais de estimação. Estamos ansiosos para continuar nossa jornada, cuidando e ajudando 
                a melhorar a qualidade de vida dos animais que entram pela nossa porta. <br />
                <br />
                Obrigado por fazer parte da nossa história.


            </p>
        </div>
    </section>
    <br />
    <br />
    <section id="showcase">
        <div class="container">
            <h2>Missão</h2>
            <p>
                nossa missão é proporcionar cuidados veterinários excepcionais e compassivos aos animais de estimação,
                promovendo sua saúde, bem-estar e qualidade de vida. Acreditamos que cada animal merece amor, respeito
                e atenção individualizada, e nos esforçamos para oferecer um ambiente acolhedor e seguro onde eles se 
                sintam confortáveis.
            </p>
        </div>
    </section>
    <br />
    <br />
    <section id="showcase">
        <div class="container">
            <h2>Valores</h2>
            <p>
                Compromisso com o bem-estar animal<br />
                Excelência e Profissionalismo<br />
                Empatia e Compaixão<br />
                Ética e Integridade<br />
                Educação e Orientação <br />
                Trabalho em Equipe <br />
                <br />
                Esses valores fundamentais guiam nossas ações diárias e nos ajudam a fornecer o melhor atendimento
                possível para os animais de estimação e seus proprietários.
            </p>
        </div>
    </section>
</body>